project_docs/n8n_ai_chef_workflow.json
{
    "name": "Foodypedia - AI Chef API",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "generate-recipe",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                340
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1,
            "position": [
                680,
                340
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o",
                "options": {
                    "temperature": 0.7
                }
            },
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                680,
                540
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json.output }}",
                "options": {}
            },
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1100,
                340
            ]
        },
        {
            "parameters": {
                "text": "={{ $json.body.ingredients }}"
            },
            "name": "Format Prompt",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.2,
            "position": [
                900,
                340
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}