archives_donnees/json/Foodypedia - AI Ingredient Generator.json
{
  "name": "Foodypedia - AI Ingredient Generator",
  "nodes": [
    {
      "parameters": {
        "operation": "list",
        "useQueryString": true,
        "queryString": "'17FAh-iTP7VPFdJjixZjiY8-6gb3c6z8L' in parents and trashed = false",
        "limit": 25,
        "options": {}
      },
      "name": "Gdrive Discovery",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 2,
      "position": [
        -160,
        -128
      ],
      "id": "c78e6ca2-5a32-4d8f-b20c-5fb75d732dcf",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wmC1d4qhrcYO8ynG",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nfor (const item of items) {\n  // item.json contient les infos de Google Drive (id, name, etc.)\n  const file = item.json;\n  const name = file.name.toLowerCase();\n  \n  // On filtre pour ne garder que les images (jpg, png, webp, jpeg)\n  if (name.endsWith('.jpg') || name.endsWith('.png') || name.endsWith('.webp') || name.endsWith('.jpeg')) {\n     results.push({\n       json: {\n         original_filename: file.name,\n         // Nettoyage : \"tomate_cerise.jpg\" -> \"tomate cerise\"\n         clean_name: file.name.split('.')[0].replace(/[_-]/g, ' '),\n         \n         // 💡 INDIQUEZ ICI LA CATÉGORIE POUR L'IA\n         category_guess: \"legume\" \n       }\n     });\n  }\n}\nreturn results;"
      },
      "name": "Filter Images",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        48,
        -128
      ],
      "id": "edcae849-84a6-4a3c-a0d6-11b0e1128b2f"
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "o4-mini",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "=Vous êtes l'encyclopédiste de Foodypedia. Générez le JSON en utilisant STRICTEMENT ces clés :  {   \"name\": \"Nom de l'ingrédient\",   \"scientific_name\": \"Nom latin\",   \"glossary_term\": \"Nom racine (ex: Citron)\",   \"category\": \"legume\",   \"description\": \"Texte encyclopédique...\",   \"seasonality\": \"Mois ou saison\",   \"buying_guide\": \"Conseils d'expert...\",   \"storage_guide\": \"Conseils de conservation...\",   \"prep_guide\": \"Techniques de préparation...\",   \"nutrition_info\": \"Valeurs nutritionnelles...\",   \"texture\": \"Description sensorielle\",   \"image_filename\": \"{{ $json.original_filename }}\",   \"functional_categories\": [\"base-potage\", \"aromatisation\"],   \"tags\": [\"terroir\", \"frais\"],   \"specific_data\": {     \"composition\": \"Précisez ici eau, fibres, etc.\",     \"famille_botanique\": \"Nom de la famille\"   } }"
            },
            {
              "content": "=Génère la fiche pour : {{ $json.clean_name }} ..."
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "name": "AI Specialist",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        240,
        -128
      ],
      "id": "264e55e3-1846-4e07-adec-06b1f3bafba7",
      "credentials": {
        "openAiApi": {
          "id": "i6MREEQ7u12AMxZX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- SCRIPT D'AGRÉGATION FINALE ---\nconst allIngredients = [];\n\n// On récupère toutes les réponses de l'IA\nfor (const item of $input.all()) {\n  try {\n    // On extrait le JSON de la réponse de l'IA\n    const ingredient = JSON.parse(item.json.message.content);\n    allIngredients.push(ingredient);\n  } catch (e) {\n    // On ignore si une réponse est mal formatée\n  }\n}\n\n// On transforme la liste en un vrai fichier téléchargeable\nconst binaryData = await helpers.prepareBinaryData(\n  Buffer.from(JSON.stringify(allIngredients, null, 2)),\n  'ingredients_data.json',\n  'application/json'\n);\n\nreturn [\n  {\n    json: { \n      message: \"Succès ! Cliquez sur l'onglet 'Binary' pour télécharger.\",\n      total: allIngredients.length \n    },\n    binary: {\n      data: binaryData\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -128
      ],
      "id": "1d5921bc-eac9-4810-8d17-0e21b7086e0f",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Gdrive Discovery": {
      "main": [
        [
          {
            "node": "Filter Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Images": {
      "main": [
        [
          {
            "node": "AI Specialist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Specialist": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7bdd5d27-f401-4965-b4d5-1ddd954e82e2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "581137faab2d342c03b7384ffd7f6b1f64718dbd23da0e91faec64cea0d00146"
  },
  "id": "fjqzGnSWUwB6mXa4",
  "tags": []
}